.App {
  background-color: #10141e;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  padding-inline: 32px;
  padding-block: 32px;
  margin: 0 auto;
  display: flex;
  gap: 36px;
}

/* HEADER */

.header {
  position: sticky !important;
  display: flex;
  flex-direction: column;
  top: 32px;
  background-color: #161d2f;
  padding: 35px 32px 35px 32px;
  border-radius: 20px;
  height: 90vh;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.main-logo {
  width: 32px;
  height: 25px;
  margin-bottom: 75px;
}

.navbar {
  flex: 1;
}

.navbar-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.navbar-li:hover {
  filter: invert(52%) sepia(49%) saturate(7040%) hue-rotate(338deg)
    brightness(107%) contrast(98%);
}

.navbar-li a img {
  width: 20px;
  height: 20px;
}

/* Searhc */

.main-section {
  /* flex: 1; */
  width: 100%;
}

.search {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 19px;
}

.icon-search {
  width: 32px;
  height: 32px;
}

.search-input {
  width: 100%;
  text-transform: capitalize;
  padding: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

.search-input:focus {
  border-bottom: 1px solid #5a698f;
}

.search-input::-webkit-input-placeholder {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}
.section-trending {
  max-width: 100%;
}

.section-trending-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.5px;
  text-align: left;
  margin-bottom: 25px;
}

.swiper {
  max-width: 100% !important;
  height: 100%;
}

.swiper-slide {
  /* width: 470px !important; */
  position: relative !important;
  height: 230px !important;
  display: flex;
  align-items: flex-end;
}
.section-image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.swiper-icon-bookmark-empty {
  width: 32px !important;
  height: 32px !important;
  position: absolute;
  z-index: 55;
  padding: 10px;
  background-color: rgba(16, 20, 30, 0.5);
  right: 24px;
  top: 16px;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-details {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  padding: 24px 0 24px 24px;
}

.swiper-details-firts {
  opacity: 0.7;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  gap: 8px;
}

.swiper-details-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.swiper-details-image img {
  opacity: 1;
  width: 12px;
  height: 12px;
}

.dot {
  width: 3px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.5;
}

.swiper-details-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 3px;
}

.play-hover-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.3s;
}
.play-hover-container-inner {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 29px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  cursor: pointer;
}

.swiper-slide:hover .play-hover-container {
  transform: scale(1);
}
.play-hover-container-inner span {
  margin-right: 14px;
}
.section-recommended {
  margin-top: 40px;
}

.section-recommended-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.5px;
  text-align: left;
  margin-bottom: 32px;
}

.section-recommended-grid {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: auto;
  row-gap: 32px;
  column-gap: 40px;
}

.recommended-item-image {
  position: relative;
  width: 280px;
  height: 174px;
  transition: all 0.3s;
}

.recommended-item-image:hover .play-hover-container {
  transform: scale(1);
}

.recommended-item-image-main {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.recommended-item-image-booked {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: rgba(16, 20, 30, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
.recommended-item-info {
  margin-top: 10px;
}

.recommended-item-info-first {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.75;
  margin-bottom: 7px;
}

.recommended-item-info-icon {
  display: flex;
  gap: 6px;
}

.recommended-item-info-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 767px;
    padding-inline: 24px;
    flex-direction: column;
    padding-top: 23px;
    padding: 24px 24px 22px 24px;
  }
  .header {
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    top: 23px;
  }
  .main-logo {
    margin: 0;
  }
  .navbar {
    flex: 0;
  }
  .navbar-ul {
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
  }
  .avatar {
    width: 32px;
    height: 32px;
  }

  .search {
    margin-bottom: 33px;
  }
  .swiper-container {
    width: 767px;
  }
  .swiper-slide {
    width: 470px !important;
  }

  .section-recommended-grid {
    grid-template-columns: repeat(3, 220px);
    column-gap: 29px;
    row-gap: 24px;
  }

  .recommended-item-image {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0;
  }

  .header {
    top: 0;
    border-radius: 0px;
    padding-inline: 16px;
    padding-block: 18px;
  }

  .main-logo {
    width: 25px;
    height: 20px;
  }

  .navbar-li a img {
    width: 16px;
    height: 16px;
  }

  .avatar {
    width: 24px;
    height: 24px;
  }

  .main-section {
    padding-inline: 16px;
  }
  .search {
    gap: 19px;
  }
  .icon-search {
    width: 18px;
    height: 18px;
  }
  .search-input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  .section-trending-title {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.3125px;
    text-align: left;
    margin-bottom: 16px;
  }

  .section-recommended {
    margin-top: 24px;
    padding-bottom: 24px;
  }

  .section-recommended-title {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.3125px;
    text-align: left;
    margin-bottom: 24px;
  }
  .section-recommended-grid {
    grid-template-columns: repeat(2, 164px);
    column-gap: 15px;
    row-gap: 15px;
  }

  .recommended-item-info-first {
    font-size: 11px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
  }
  .recommended-item-info-icon img {
    width: 10px;
    height: 10px;
  }

  .recommended-item-info-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }
  .recommended-item-image-main {
    object-fit: cover;
  }
  .swiper-slide {
    width: 240px !important;
    height: 140px !important;
  }
  .swiper-details-firts {
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
  }
  .swiper-details {
    padding: 16px 0 39px 16px;
  }

  .swiper-details-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
  }
  .section-image {
    object-fit: cover;
  }
  .swiper-icon-bookmark-empty {
    top: 8px;
    right: 8px;
  }

  .search-input {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
}
